[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
numpy = "*"

[packages]
pytest = "*"
numpy = "*"
requests = "*"

pylint = "*"
[requires]
python_version = "3.11"
